# What is Pandas?
It's a very helpful python package for data analysis. It makes you use data in python in a tabular form. 
It brings two new datatypes to python: 

1. Series
2. Data Frame

In [1]:
# And its cute ... :
from IPython.display import Image
from IPython.display import display
display(Image(url='static/pandas.jpg'))

## Installing python packages

If you attended the installation party pandas should be already installed on your computer. 
The recommended way to install packages in python is using 'pip'.

If you need to install it: 

```
**command-line** 

pip3 install pandas 
```

## Using python packages 

To use a python package in your notebook or python script, you import it. 
That's as easy as ```import pandas ```. 

Programmers are lazy people, so they like to use short version of everything, because they don't wont to type to much. Thats why pandas is most often imported like this:

In [2]:
import pandas as pd

If you do it like this, you can later write ``` pd.do_something() ``` instead of ``` pandas.do_something() ```.

##  Series

In [3]:
# Turn a list into a series 
some_numbers = [2, 5, 7, 3, 8]

series_1 = pd.Series(some_numbers)
series_1

0    2
1    5
2    7
3    3
4    8
dtype: int64

So a series is a table with an index and only one column.

In [4]:
# set the index 
ind = ['a', 'b', 'c', 'd', 'foo']

series_2 = pd.Series(some_numbers, index=ind)
series_2

a      2
b      5
c      7
d      3
foo    8
dtype: int64

In [5]:
# If you want to pull out the index 
series_2.index

Index(['a', 'b', 'c', 'd', 'foo'], dtype='object')

In [6]:
# Series can also be build from dictionarys and you can store different datatypes in the values. 
more_numbers = {'a': 9, 'b': 'eight', 'c': 7.5, 'd': 6}

series_3 = pd.Series(more_numbers)
series_3

a        9
b    eight
c      7.5
d        6
dtype: object

## You do it 

> Tipp:

> As in the command line you can use the up arrow ⬆️ to get some suggestions. This can save you a lot of typing.  

> Jupyter notebook makes it easier to print something out. In pure python you would have to use ``` print(variable) ``` in juyter notebook you just write the variable you want to print out at the end of the cell and it gets printed out.

In [7]:
# Like this: 
series_3

a        9
b    eight
c      7.5
d        6
dtype: object

** Make your own series from a list and from a dict. **

**Both should have four columns and use 'a, b, c, d' as index. **

** Make jupyter notebook print out your series. **

In [ ]:
my_list = 
my_ind = 
my_series_from_a_list =

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 'love'}
my_series_from_a_dict = pd.Series(my_dict)

## Data Frame
A data frame is a data table as you know it, with an index, a header and lots of rows and columns.

In [8]:
# You make data frames from two series
brand_new_df = pd.DataFrame([series_2, series_3])
brand_new_df

   a      b    c  d  foo
0  2      5  7.0  3  8.0
1  9  eight  7.5  6  NaN

In [9]:
# As you can see there are diffrent datatypes stored in it 
brand_new_df.dtypes

a        int64
b       object
c      float64
d        int64
foo    float64
dtype: object

In [10]:
# Make a data frame from a dictionary

stadt_land_fluss = {
    'Stadt': ['Washington','Zürich', 'York', ], 
    'Land': ['Wales', 'Zimbabwe', 'Yemen'], 
    'Fluss': ['Wupper', '', 'Yangtse'] }

df = pd.DataFrame(stadt_land_fluss)
df

     Fluss      Land       Stadt
0   Wupper     Wales  Washington
1           Zimbabwe      Zürich
2  Yangtse     Yemen        York

In [11]:
# As in a series, you can manually set the index 
ind1 = ['w', 'z', 'y']
df1 = pd.DataFrame(stadt_land_fluss, index=ind1)
df1

     Fluss      Land       Stadt
w   Wupper     Wales  Washington
z           Zimbabwe      Zürich
y  Yangtse     Yemen        York

In [12]:
# And you can reorder the columns  
df2 = df1[['Stadt', 'Land', 'Fluss']]
df2

        Stadt      Land    Fluss
w  Washington     Wales   Wupper
z      Zürich  Zimbabwe
y        York     Yemen  Yangtse

In [13]:
df2.columns

Index(['Stadt', 'Land', 'Fluss'], dtype='object')

In [14]:
df2.index

Index(['w', 'z', 'y'], dtype='object')

In [15]:
# If you only want to look at one column, you'll get a series 
df['Fluss']

0     Wupper
1
2    Yangtse
Name: Fluss, dtype: object

In [16]:
# if the column name is basically one word without special characters you can address the column like this, too:

df.Fluss

0     Wupper
1
2    Yangtse
Name: Fluss, dtype: object

In [17]:
# Make a new data frame, that only contains a subset of columns
df3 = df1[['Stadt']]
df3

        Stadt
w  Washington
z      Zürich
y        York

In [18]:
# Address certain rows 
df[0:2]

    Fluss      Land       Stadt
0  Wupper     Wales  Washington
1          Zimbabwe      Zürich

In [19]:
# Adress a special value
df.loc[1,'Land']

'Zimbabwe'

## You do it 

It's your turn: Make a data frame from the two series you made earlier.

In [ ]:
my_df =

# Let's go get some real data

## Go to the [Vornamen15](vornamen/vornamen15.ipynb) notebook!